@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


html {
   font-family: "Manrope", sans-serif;
}

/* 📸 Custom Webcam Filters Start */

.filter-none {
  filter: none;
}

.filter-grayscale {
  filter: grayscale(100%);
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-bright {
  filter: brightness(1.25);
}

.filter-dim {
  filter: brightness(0.75);
}

.filter-contrast {
  filter: contrast(1.5);
}

.filter-invert {
  filter: invert(1);
}

.filter-hue {
  filter: hue-rotate(60deg);
}

.filter-warm {
  filter: sepia(0.4) brightness(1.1) saturate(1.3);
}

.filter-cool {
  filter: grayscale(0.3) contrast(1.2) hue-rotate(180deg);
}

.filter-retro {
  filter: sepia(0.5) contrast(1.2) saturate(1.3);
}

.filter-soft-blur {
  filter: blur(2px) brightness(1.1);
}

.filter-cyber {
  filter: hue-rotate(200deg) brightness(1.2) contrast(1.3);
}

/* 📸 Custom Webcam Filters End */